# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
venv/
.venv/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore data/output
data/firehouses
data/fsq_data
data/nyct2020_25b
data/police_stations
data/tl_2020_us_zcta520
data/tl_2024_us_county
results/
logs/
*.csv
*.log

# Ignore VS Code settings
.vscode/
